$fontBlack:#1f1f1f;
$fontLight:#8d8d8d;


// font-size

$h1:4em;
$h1-s:3em;
$h1-xs:2em;
$h2:3em;
$h2-s:2em;
$h2-xs:1.5em;
$h4:2em;
$h4-s:1.5em;
$h4-xs:1em;
$p:1em;
$p-s:0.8em;
$p-xs:0.5em;
$a:1.5em;
$a-s:1em;
$a-xs:0.8em;