@import 'normalize';
@import 'color';



html,
body {
    font-family: sans, Tahoma, verdana, Arial, 'sans-serif';
    //   font-size: 0.8em;
    line-height: 1.6;
    background: gray;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
    letter-spacing: 0 !important;
    font-family: sans, Tahoma, verdana, Arial, 'sans-serif', cursive !important;

}

header{background: white;
.mainNav {
    padding: 5px 0 ;
    height: 100px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
       width: 80%;
       margin: auto;



        li {
            list-style: none;
            text-decoration: none;
            display: inline;
            justify-content: space-between;

            a {
                color: $fontBlack;
                font-size: $a;
                display: block;
            }

            .logo {
                width: 30%;
                margin: 0 40px;
            }
        }
    }
}


.banner {
    margin-top: 10px;
    padding-top: 150px;
    height: 550px;
    max-height: 600px;
    background-image: url("../../assets/img/bg.jpg");
    background-size: cover;
    background-position: fixed;
@media (max-width: 991px) {
    padding-top: 20px;
} 


    article {
        width: 70%;
        margin: auto;

        * {
            color: white;
        }

        h4 {
            font-size: $h4;
        }

        h1 {
            font-size: $h1;
            text-transform: uppercase;
        }

        p {
            font-size: $p;
            width: 80%;
            margin: 0 auto 40px;

        }
    }
    
    .btn{
        width: 20%;
        }
}
}
.recommendation{
    padding-top: 50px;
   min-height: 400px;
    background: white;
    .wrapper{
        display: flex;
        justify-content: space-between;
        .article{
            padding-right: 95px;
            text-align: left;
            h2{
                text-transform: uppercase;
                line-height: $h2;
                display: inline-block;

            }
            p{
                color: $fontLight;
                // text-align: justify;
                display: block;
            }
        }
        .pics{
           .imgBox{

            overflow: hidden;
            // height: auto;
            // max-height: 300px;

        
                position: relative;
                padding-top: 56.25%; /* 16:9 Aspect Ratio */
              
              img {
                position: absolute;
                left: 0;
                top: 0;
                right:0;
                width: 90%;
                height: auto;
                margin: 5px auto 0;
              }

            //  img{
            //     height: auto;
            //     width: 100%;
            //  }
            }
        }
    }

}


@media screen and (max-width:1199px){
    h1{
        font-size: $h1-s !important;
    }
    h2{
        font-size: $h2-s !important;
    }
    h4{
        font-size: $h4-s !important;
    }
    p{
        font-size: $p-s !important;
    }
    a{
        font-size: $a-s !important;
    }

}
@media screen and (max-width:575px){
    h1{
        font-size: $h1-xs !important;
    }
    h2{
        font-size: $h2-xs !important;
    }
    h4{
        font-size: $h4-xs !important;
    }
    p{
        font-size: $p-xs !important;
    }
    a{
        font-size: $a-xs !important;
    }

}